.container {
    width: 340px;
    height: 500px;
    background-color: #333;
    display: block;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(6, 65px);
    grid-gap: 2px;
}

#buttons > button {
    background-color: #d3d2d2;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#buttons > button:hover {
    background-color: #777;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#result {
    outline: none;
    background-color: #333;
    color: #f2f2f2;
    padding: 40px 10px 40px 10px;
    font-size: 40px;
    text-align: right;
}
